body {
	margin: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	background-color: #343703;
	background-repeat: repeat-x;
	background-position: 0 0;
	background-image: url('./images/main-bg.png')
}

.debug {
	border: 2px solid white;
}

p {
	margin: 0;
}

h4 {
	color: #fbf2db;
	font-size: 16px;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.top-block {
	background: #4f3c2a;
	color: white;
	text-align: right;
	font-size: .8em;
	padding: 5px;
}

header {
	background-repeat: repeat-x;
	background-position: 0 -2px;
	background-image: url('./images/header-bg.png')
}

header > .container {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url('./images/header-image.png');
}

.jumbo {
	font-size: 4em;
	height: 297px;
	position: relative;
}

.header-text {
	position: absolute;
	left: 100px;
	top: 106px;
}

.main-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	background: #e4cd9a;
}

.main-menu > li {
	padding: 10px 15px;
	border: 1px solid black;
}

.main-content {
	padding: 15px 0;
	display: flex;
}

.main-content > .col {
	min-width: 0;
	padding: 12px;
	flex: 1;
}

.main-content > .col-big {
	flex: 2;
}

.footer-content {
	padding: 10px;
}

.side-menu {
	background: #422f1a;
	width: 219px;
	list-style: none;
	margin: 0;
	padding: 15px;
}

.news {
	background-image: url('./images/news-bg.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 306px;
	margin-top: 22px;
	font-size: 12px;
	text-align: left;
	padding-left: 30px;
	padding-right: 64px;
}

.news h4 {
	margin: 0;
	height: 40px;
}

.green-link {
	color: #4b5f03;
	border: none;
}

.search-btn {
	background: url('./images/search-btn.png')
}

.contacts {
	background-image: url('./images/contacts-bg.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 306px;
	margin-top: 22px;
}

.contacts-block {
	margin-top: 22px;
	font-size: 12px;
	text-align: left;
	padding-left: 20px;
	padding-right: 64px;
}

.video {
  margin: 25px;
}

.main-menu li:hover {
	background: url('./images/hover-bg.png');
	cursor: pointer;
}

.welcome {
	color: #fbf2db; 
	font-size: 11px; 
	text-align: justify;
}

.print {
	display: flex;
	justify-content: flex-end;
}
