body {
	margin: 0;
	font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-repeat: repeat-x;
	background-position: 0 0;
	background-image: url('./images/main-bg.png')
}

p {
	margin: 0;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.top-block {
	background: #4f3c2a;
	color: white;
	text-align: right;
	font-size: .8em;
	padding: 5px;
}

header {
	background-repeat: repeat-x;
	background-position: 0 -2px;
	background-image: url('./images/header-bg.png')
}

header > .container {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url('./images/header-image.png');
}

.jumbo {
	font-size: 4em;
	height: 297px;
	position: relative;
}

.header-text {
	position: absolute;
	left: 100px;
	top: 106px;
}

.main-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	background: #e4cd9a;
}

.main-menu > li {
	padding: 10px 15px;
	border: 1px solid black;
}

.main-content {
	padding: 15px;
	display: flex;
}

.main-content > .col {
	flex: 1;
}

.main-content > .col-big {
    flex: 2;
    margin-left: 25px;
    margin-right: 25px;
}

.footer-content {
	background: white;
	padding: 10px;
}

.news {
    background-image: url('./images/news-bg.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 306px;
    margin-top: 22px;
}

.slider {
    background-image: url('./images/slider.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 360px;

}

.contacts {
    background-image: url('./images/contacts-bg.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 306px;
    margin-top: 22px;
    
}

.video {
    margin: 25px;
}

.main-menu li:hover {
	background: url('./images/hover-bg.png');
	cursor: pointer;
	
}

